@model ReflectionIT.Mvc.Paging.PagingList<Padronizei.Models.Colaborador>

@{
    ViewData["Title"] = "Colaboradores";
}

<h1>Colaboradores</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="GET">
            <div class="form-group">
                <label for="buscaNome" class="control-label"></label>
                <input id="buscaNome" name="nome" type="text" placeholder="Procurar por nome" value="@Context.Request.Query["nome"].ToString()" class="form-control" />                
            </div>
            <div class="form-group">                
                <input id="buscaFiltro" type="submit" value="Pesquisar" class="button" />                
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluír</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="pagination">
    <vc:pager paging-list="@Model"/>
</nav>
