@model ReflectionIT.Mvc.Paging.PagingList<Padronizei.Models.Conteudo>

@{
    ViewData["Title"] = "Conteúdos";
}

<h1>Conteúdos</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" method="GET">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="buscaTermo" class="control-label"></label>
                        <input id="buscaTermo" name="termo" type="text" placeholder="Procurar por termo" value="@Context.Request.Query["termo"].ToString()" class="form-control" />                
                    </div>                    
                </div>                
            </div>        
            <div class="form-group">
                <input id="buscaFiltro" type="submit" value="Pesquisar agora" class="button" />                
            </div>    
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>            
            <th>
                @Html.DisplayNameFor((Conteudo model) => model.Visibilidade)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorId)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Visibilidade)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Nome)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="pagination">
    <vc:pager paging-list="@Model"/>
</nav>